@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --bg-color: #fffef5;
  --fg-color-b: #242927;
  --fg-color-l: #323734;
  --main-color-b: #c7ffe3;
  --main-color-l: #8ce4b5;
  --main-color-d: #2e4d3f;
  --highlight-color-b: #e1001e;
  --highlight-color-l: #b70202;
  --font-color-b: whitesmoke;

  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
}

html {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  background: var(--bg-color);
  color: var(--fg-color-b);
}

.green {
  color: var(--main-color-b) !important;
}

button:focus {
  box-shadow: none !important;
}

/* --------- */
/* Scrollbar */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-color-d);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color-b);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-l);
  border-radius: 12px;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: var(--fg-color-b);
  box-shadow: 0px 10px 10px 0px rgba(5, 29, 18, 0.171);
}

.navbar {
  position: fixed;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem;
}

.navbar-toggler {
  position: relative;
  background-color: transparent;
  border-color: transparent;
}

.navbar-toggler span {
  display: block;
  background-color: var(--main-color-b);
  height: 4px;
  width: 27px;
  margin-top: 5px;
  margin-bottom: 5px;
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(-135deg);
  opacity: 0.9;
}

.language {
  font-size: 12px;
  margin: 0px;
  padding-top: 0px !important;
}

.vertical-nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.collapse-link {
  display: none !important;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: var(--fg-color-b) !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }

  .vertical-link {
    display: none !important;
  }

  .collapse-link {
    display: flex !important;
    flex-direction: row !important;
  }
}

.logo {
  max-height: 6em !important;
}

.navbar-nav .nav-link {
  color: var(--bg-color) !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 768px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: var(--main-color-b);
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

/* --------- */
/* Home section */
/* --------- */
.home-header {
  animation: 0.6s ease-in-out loadEffect2;
  padding-bottom: 20px;
}

@keyframes loadEffect2 {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Home welcome section */

.home-welcome-section {
  position: relative;
  background-image: var(--image-gradient), url("./Assets/main-bg.jpg");
  background-position: top center;
  background-size: 900px;
  background-repeat: no-repeat;
  margin-top: 120px;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
  height: 500px;
  overflow: hidden;
}

.home-welcome-content {
  margin-top: 50px;
}

.home-welcome-content {
  width: 300px;
}

.home-welcome-title {
  margin-left: 20%;
  text-align: left;
}

.home-welcome-title h1 {
  font-size: 80px;
  margin-bottom: -10px;
  font-weight: 800;
}

.home-welcome-title p {
  font-size: 25px;
  margin-left: 15px;
  font-weight: 700;
}

.home-welcome-link {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 150px !important;
}

@media (max-width: 1024px) {
  .home-welcome-title {
    margin-left: 10%;
  }
}

/* Home info section */

.home-info-section {
  position: relative;
  color: var(--fg-color-b);
  padding-bottom: 30px;
  padding-top: 30px;
  overflow: hidden;
}

.home-info-content {
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--fg-color-b);
  text-align: center;
}

.home-info-grid-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  list-style: none;
  gap: 0px;
  padding: 30px 0px 0px 0px;
}

@media (max-width: 768px) {
  .home-info-grid-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.home-info-grid-list li {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 400px;
}

@media (max-width: 1024) {
  .home-info-grid-list li {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .home-info-grid-list li {
    width: 400px;
  }
}

.home-info-grid-list img {
  height: 100px; /* needs to be changed*/
  width: 100px; /* needs to be changed*/
  margin-right: 15px;
}

.home-info-flex-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style: none;
  padding: 30px 20px 0px 20px;
}

.home-info-flex-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.home-info-flex-list img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: 20px;
}

.teas-icon {
  filter: invert(70%) sepia(7%) saturate(535%) hue-rotate(120deg)
    brightness(110%) contrast(100%);
}

/* featured menu section */
.slider {
  margin-bottom: 30px;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-item img {
  height: 300px; /* needs to be adjusted to original size later */
  width: 230px; /* needs to be adjusted to original size later */
  padding: 0px 10px;
  margin-bottom: 10px;
}

.slider-item p {
  font-weight: 500;
}

.slick-dots li button:before {
  font-size: 15px !important;
}

/* --------- */
/* Menu section */
/* --------- */

.menu-info-section {
  position: relative;
  color: var(--fg-color-b);
  padding-bottom: 30px !important;
  padding-top: 30px !important;
  margin-top: 120px;
}

/* --------- */
/* Location section */
/* --------- */
.location-info-section {
  position: relative;
  color: var(--fg-color-b);
  padding-bottom: 30px !important;
  padding-top: 30px !important;
  margin-top: 120px;
}

@media (max-width: 768px) {
  .location-info-section {
    margin-top: 150px;
  }
}

.location-info-content {
  padding-bottom: 40px;
  color: var(--fg-color-b);
  text-align: left;
}

.location-info-content h1 {
  padding-bottom: 30px;
}

.location-info-content section {
  padding: 10px 0px 3px 0px;
}

.location-info-content p {
  padding: 0;
  margin: 0;
}

.location-button {
  display: inline-block;
  background-color: var(--highlight-color-b);
  color: white;
  padding: 10px 20px;
  margin: 20px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: var(--fg-color-b);
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 8px;
}

.footer h2 {
  font-size: 0.8em;
  font-weight: 900;
  color: var(--font-color-b);
  margin-top: 0.5em;
  margin-bottom: 0.7em;
}

.footer h3 {
  font-size: 0.8em;
  color: var(--font-color-b) !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.footer-icons {
  margin-top: 1em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 15px;
}

/* --------- */
/* Buttons */
/* --------- */
.btn-primary {
  color: #fff !important;
  background-color: var(--highlight-color-b) !important;
  border-color: var(--highlight-color-b) !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: var(--highlight-color-l) !important;
  border-color: var(--highlight-color-l) !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}